<body style="background-color:black">
<font color="white"><h1>If you expected some awesome secret, I'm sorry, such secret doesn't exist here but cat image.</h1></font>
<img src="http://quotationsquotes.com/wp-content/uploads/2015/10/Top-30-Funny-cat-Picture-Quotes-joke-591x787.jpg" height="600" width="700" class="center">
</body>
